*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    font-family: sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #fff;
}